<!DOCTYPE html>
<html>
    <head>
        <title>Flask Example</title>
    </head>
    <body>
        <form method="post">
            <label for="stocks">Select a stock:</label>
            <!-- Removing the 'multiple' tag makes this a normal dropdown menu-->
            <select id="stocks" name="stocks" class = "form-control selectpicker" multiple>
                <option value="AAPL">Apple Inc.</option>
                <option value="GOOG">Alphabet Inc.</option>
                <option value="MSFT">Microsoft Corporation</option>
                <option value="PAYC">Paycom Inc</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        {% if result %}
            <p>The stocks that fulfill your constraints are: {{ result }}</p>
        {% else %}
            <p>No stocks fulfill your constraints yet... </p>    
        {% endif %}
    </body>
</html>